<div ng-show="connecting">
    <h1>ngIRC
        <button ng-click="disconnect()" class="btn btn-danger pull-right">
            <i class="icon-remove"></i> Disconnect
        </button>
    </h1>
    <div class="pull-right" ng-show="connected">
        <form ng-submit="addChannel()" class="form-inline add-channel" name="addChannelForm" novalidate>
            <input type="text" ng-model="inputs.channel" placeholder="Join Channel..." required>
            <button type="submit" class="btn" ng-disabled="! addChannelForm.$valid">Join Channel</button>
        </form>
    </div>
    <tabs>
        <pane heading="System Status">
            <div class="row">
                <div class="span12">
                    <scroll-bottom watch="systemMessages" height="625px" class="messages">
                        <div ng-repeat="message in systemMessages">
                            <small>[{{message.date | date:'HH:mm:ss'}}]</small>
                            <span>***</span>
                            <strong>{{message.user}}</strong>:
                            <irc-message message="message.text"></irc-message>
                        </div>
                    </scroll-bottom>
                </div>
            </div>
        </pane>
        <pane ng-repeat="(channel, data) in channels" heading="{{channel}}" active="data.active">
            <div class="row">
                <div class="span9">
                    <scroll-bottom watch="data.messages" height="625px" class="messages">
                        <div ng-repeat="message in data.messages">
                            <small>[{{message.date | date:'HH:mm:ss'}}]</small>
                            <strong>{{message.user}}</strong>:
                            <irc-message message="message.text"></irc-message>
                        </div>
                    </scroll-bottom>
                </div>
                <div class="span3 user-window">
                    <p ng-repeat="(nick, level) in data.users">{{level}}{{nick}}</p>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                    <form ng-submit="sendMessage(channel)">
                        <input ng-model="inputs.message" class="span8">
                    </form>
                </div>
            </div>
        </pane>
    </tabs>
</div>

<div modal="! connecting" options="modalOpts">
    <form ng-submit="connectClient()" name="connect" class="form-horizontal" novalidate="">
        <div class="modal-header">
            <h4>Connect To IRC</h4>
        </div>
        <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="server">Server</label>
                    <div class="controls">
                        <input type="text" class="input-medium" ng-model="inputs.server" id="server" required>
                        :
                        <input type="text" class="input-mini" ng-model="inputs.port" id="port" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nickname">Nickname</label>
                    <div class="controls">
                        <input type="text" ng-model="inputs.nickname" id="nickname" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="channel">Channel</label>
                    <div class="controls">
                        <input type="text" ng-model="inputs.initialChannel" id="channel" required>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-disabled="! connect.$valid">Connect</button>
        </div>
    </form>
</div>